---
layout: other_page

---

    <!--sw about us top start-->
    <div class="sw_abt_btm_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_road_leads_img">
                        <img src="{{ '' | relative_url }}/images/leads.gif" alt="img">

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_left_heading_wraper sw_abt_tp_txt">
                        <h1>Want to Know About Us?</h1>
                        <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis rud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis ate irure dolor in reprehenderit in luptate velit esse cillum dolore eu fugiat nulla atur. Excepteur sint caecat cupidatat non laboris nisi ut aliquip ex ea commodo cons fugiat nulla atur. Excepteur sint caecat cupidatat non proiden. Ut enim ad minim veniam, quirud exercitation ullam proiden. Ut enim ad minim veniam, quirud exercitation ullamco laboris nisi ut aliquip ex.
                        </p>
                        <br>
                        <p>ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis rud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons fugiat nulla atur. Excepteur sint caecat cupidatat non proiden. Ut enim ad minim veniam, quirud exercitation ullam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw about us top end-->
    <!--sw spectrum wrapper start-->
    {% include spectrum_small.html %}
    <!--sw spectrum wrapper end-->
    <!--sw leads wrapper start-->
    <div class="sw_leads_wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_disc_txt_wrapper">

                        <div class="sw_left_heading_wraper">
                            <h1>All Roads Lead to Solar!</h1>
                            <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                            <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                        </div>

                        <div class="sw_leads_accordian">
                            <div class="panel-group" id="accordionFifteenLeft" role="tablist">
                                <div class="panel panel-default">
                                    <div class="panel-heading desktop">
                                        <h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftone" aria-expanded="true">The Cost Benefit Ratio: </a>
										</h4>
                                    </div>
                                    <div id="collapseFifteenLeftone" class="panel-collapse collapse in" aria-expanded="true" role="tabpanel">
                                        <div class="panel-body">

                                            <div class="panel_cont">
                                                <p>Akshay Handge dolor sit amet, consectetur adipisicing elido eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading horn">
                                        <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftTwo" aria-expanded="false">Why Solar Energy ?</a>
										</h4>
                                    </div>
                                    <div id="collapseFifteenLeftTwo" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
                                        <div class="panel-body">

                                            <div class="panel_cont">
                                                <p>Akshay Handge dolor sit amet, consectetur adipisicing elido eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftThree" aria-expanded="false">Advantage Of  Solar</a>
										</h4>
                                    </div>
                                    <div id="collapseFifteenLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
                                        <div class="panel-body">

                                            <div class="panel_cont">
                                                <p>Akshay Handge dolor sit amet, consectetur adipisicing elido eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading bell">
                                        <h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordionFifteenLeft" href="#collapseFifteenLeftFour" aria-expanded="false">Solar System Benefits?</a>
										</h4>
                                    </div>
                                    <div id="collapseFifteenLeftFour" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
                                        <div class="panel-body">

                                            <div class="panel_cont">
                                                <p>Akshay Handge dolor sit amet, consectetur adipisicing elido eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="sw_abt_right_btm_wrapper">

                        <div class="sw_left_heading_wraper">
                            <h1>Our Mission</h1>
                            <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                            <p>Consectetur adipisicing elit, sed do smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea modo consequat. Duis aute irure dolor in reprehenderit.</p>
                        </div>
                        <div class="sw_left_heading_wraper">
                            <h1>Our vision</h1>
                            <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                            <p>Consectetur adipisicing elit, sed do smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea modo consequat. Duis aute irure dolor in reprehenderit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sw leads section end-->
    <!--sw best product wrapper start-->
    <div class="sw_best_product_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="sw_left_heading_wraper">
                        <h1>Our Expert Team</h1>
                        <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                    </div>
                </div>

                <!-- slider start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                    <div class="best_product_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="sw_product_box_wrapper">
                                    <div class="sw_product_indx_img_wrapper">
                                        <div class="sp_img_box_overlay"></div>
                                        <img src="{{ '' | relative_url }}/images/abt_pdt_1.png" alt="shop_img" class="img-responsive" />
                                        <div class="abt_img_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="sw_abt_icon_top_wrapper">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2 sw_prdct_11">

                                        <h1><a href="#">akshay H.</a></h1>
                                        <h5>(project manager)</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sw_product_box_wrapper">
                                    <div class="sw_product_indx_img_wrapper">
                                        <div class="sp_img_box_overlay"></div>
                                        <img src="{{ '' | relative_url }}/images/abt_pdt_2.png" alt="shop_img" class="img-responsive" />
                                        <div class="abt_img_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="sw_abt_icon_top_wrapper">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2 sw_prdct_11">

                                        <h1><a href="#"> farhan S.</a></h1>
                                        <h5>(site engineer)</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sw_product_box_wrapper">
                                    <div class="sw_product_indx_img_wrapper">
                                        <div class="sp_img_box_overlay"></div>
                                        <img src="{{ '' | relative_url }}/images/abt_pdt_3.png" alt="shop_img" class="img-responsive" />
                                        <div class="abt_img_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="sw_abt_icon_top_wrapper">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2 sw_prdct_11">

                                        <h1><a href="#">ajay S.</a></h1>
                                        <h5>(site manager)</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sw_product_box_wrapper">
                                    <div class="sw_product_indx_img_wrapper">
                                        <div class="sp_img_box_overlay"></div>
                                        <img src="{{ '' | relative_url }}/images/abt_pdt_4.png" alt="shop_img" class="img-responsive" />
                                        <div class="abt_img_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="sw_abt_icon_top_wrapper">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2 sw_prdct_11">

                                        <h1><a href="#">manali H.</a></h1>
                                        <h5>(site supervisor)</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="sw_product_box_wrapper">
                                    <div class="sw_product_indx_img_wrapper">
                                        <div class="sp_img_box_overlay"></div>
                                        <img src="{{ '' | relative_url }}/images/abt_pdt_2.png" alt="shop_img" class="img-responsive" />
                                        <div class="abt_img_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                                </li>
                                            </ul>
                                            <ul class="sw_abt_icon_top_wrapper">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="sw_product_indx_img_cont_wrapper sw_product_indx_img_cont_wrapper_2 sw_prdct_11">

                                        <h1><a href="#">mack K.</a></h1>
                                        <h5>(environmentalist)</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--sw best product wrapper end-->
    <!--sw newsletter wrapper start-->
    {% include call_to_action.html %}
    <!--sw newsletter wrapper end-->
    <!-- sw choose service wrapper start-->
    {% include why_choose_solar.html %}
    <!-- sw choose service wrapper end-->
