---
layout: page
title: Services 
description: Energymitra offers various services 
---

    {% include spectrum_full.html %}
    <!--sw discover wrapper start-->
    {% include advantage.html %}
    <!-- sw discover section end-->
    <!-- counter wrapper start-->
    <div class="counter_section">
        <div class="counter-section section-padding" data-stellar-background-ratio="0.5">
            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-powerpoint"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con1">project complete</h5>
                                <span class="timer">1353</span>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-user"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">happy customers</h5>
                                <span class="timer">1205</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-cup"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con2">awards winner</h5>
                                <span class="timer">845</span>+

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 wow  zoomIn animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: zoomIn;">
                        <div class="counter_hover">
                            <div class="icon"> <a href="#"><i class="flaticon-time"></i></a>
                            </div>
                            <div class="count-description">
                                <h5 class="con4">years in service</h5>
                                <span class="timer">27</span>+

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- counter wrapper end-->
    <!-- sw pricing section start-->
    {% include pricing.html %}
    <!-- sw pricing section end-->
    <!-- sw contact form section start-->
    {% include contact_us.html %}

    <!-- sw contact form section end-->
