<div class="sw_discver_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="sw_disc_txt_wrapper">

                    <div class="sw_left_heading_wraper">
                        <h1>Discover the Advantages</h1>
                        <img src="{{ '' | relative_url }}/images/heading_line.png" alt="title">
                        <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                    </div>
                    <div class="sw_desc_btm_txt">
                        <div class="sw_disc_image">
                            <i class="flaticon-sun"></i>
                        </div>
                        <div class="sw_disc_head_text">
                            <h5><a href="#">Solar Panels Service</a></h5>
                            <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                <br> elitam purus tellus fringilla.</p>
                        </div>
                    </div>
                     <div class="sw_desc_btm_txt">
                        <div class="sw_disc_image">
                            <i class="flaticon-wind-turbine"></i>
                        </div>
                        <div class="sw_disc_head_text">
                            <h5><a href="#">Best Wind Energy</a></h5>
                            <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                <br> elitam purus tellus fringilla.</p>
                        </div>
                    </div>
                      <div class="sw_desc_btm_txt">
                        <div class="sw_disc_image">
                            <i class="flaticon-power"></i>
                        </div>
                        <div class="sw_disc_head_text">
                            <h5><a href="#">Extended Guarantee</a></h5>
                            <p>Ruisque ut nunc elit. Lorem ipsum dolor Sit amet consectetur
                                <br> elitam purus tellus fringilla.</p>
                        </div>
                    </div>
                    <div class="disc_btn">
                        <ul>
                            <li>
                                <a href="#!" class="waves-effect waves-light waves-ripple">view all</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12 clm_img">
                <div class="sw_right_img_wrapper">
                    <div class="sw_disc_img_overlay"></div>
                    <img src="{{ '' | relative_url }}/images/disc_lft_bg.jpg" alt="About" class="img-responsive sw_right_img_div">

                    <div class="sw_disc_img_btm">
                        <img src="{{ '' | relative_url }}/images/disc_lft.jpg" alt="About" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>