{% assign comp=site.data.company.why_us %}
<div class="sw_discver_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="sw_disc_txt_wrapper">

                    <div class="sw_left_heading_wraper">
                        <h1>Discover the Advantages</h1>
                        <img src="{{ '' | absolute_url }}/images/heading_line.png" alt="title">
                        <p>{{comp.about}} </p>
                    </div>
                    {% for pro in comp.catg %}
                    <div class="sw_desc_btm_txt">
                        <div class="sw_disc_image">
                            <i class="{{pro.image}}"></i>
                        </div>
                        <div class="sw_disc_head_text">
                            <h5><a href="#">{{pro.title}}</a></h5>
                            <p>{{pro.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="disc_btn">
                        <ul>
                            <li>
                                <a href="#!" class="waves-effect waves-light waves-ripple">view all</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-sm-12 col-xs-12 clm_img">
                <div class="sw_right_img_wrapper">
                    <div class="sw_disc_img_overlay"></div>
                    <img src="{{ '' | absolute_url }}/images/{{comp.image1}}" alt="About" class="img-responsive sw_right_img_div">

                    <div class="sw_disc_img_btm">
                        <img src="{{ '' | absolute_url }}/images/{{comp.image2}}" alt="About" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>