<div class="sw_blog_categories_2_wrapper sw_blog_2_wrapper pst">

    <div class="container">
        <div class="row">
           <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="sw_left_heading_wraper sw_center_heading_wrapper">
                    <h1>latest news today</h1>
                    <img src="images/heading_line.png" alt="title">
                    <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <div class="btc_blog_indx_box_wrapper btc_blog_padder btc_index_blog_pader">
                        <div class="btc_blog_indx_img_wrapper">
                            <img src="images/news_1.jpg" alt="blog_img">
                            <div class="btc_blog_indx_date_wrapper">
                                <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="btc_blog_indx_cont_wrapper">
                            <p>june 16,2018</p>
                            <h5>Electricity is on track for what
about decarbonising heat?</h5>

                        </div>
                        <div class="btc_blog_indx_cont_bottom">
                            <div class="btc_blog_indx_cont_bottom_left">
                                <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                            </div>
                            <div class="btc_blog_indx_cont_bottom_right">
                                <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <div class="btc_blog_indx_box_wrapper btc_blog_padder btc_index_blog_pader">
                        <div class="btc_blog_indx_img_wrapper">
                            <img src="images/news_2.jpg" alt="blog_img">
                            <div class="btc_blog_indx_date_wrapper">
                                <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="btc_blog_indx_cont_wrapper">
                            <p>june 16,2018</p>
                            <h5>Electricity is on track for what
about decarbonising heat?</h5>

                        </div>
                        <div class="btc_blog_indx_cont_bottom">
                            <div class="btc_blog_indx_cont_bottom_left">
                                <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                            </div>
                            <div class="btc_blog_indx_cont_bottom_right">
                                <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <div class="btc_blog_indx_box_wrapper btc_blog_padder">
                        <div class="btc_blog_indx_img_wrapper">
                            <img src="images/news_3.jpg" alt="blog_img">
                            <div class="btc_blog_indx_date_wrapper">
                                <a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="btc_blog_indx_cont_wrapper">
                            <p>june 16,2018</p>
                            <h5>Electricity is on track for what
about decarbonising heat?</h5>

                        </div>
                        <div class="btc_blog_indx_cont_bottom">
                            <div class="btc_blog_indx_cont_bottom_left">
                                <p><i class="fa fa-user"></i> &nbsp;<a href="#">by Akshay</a></p>
                            </div>
                            <div class="btc_blog_indx_cont_bottom_right">
                                <p><i class="fa fa-comments-o"></i> &nbsp;<a href="#">04 Comm.</a></p>
                            </div>
                        </div>
                    </div>
                </div>
         </div>
    </div>
 </div>