<div class="sw_news_letter_wrapper sw_new_letter_index">
    <div class="container">
        <div class="sw_nl_heading_wrapper">
           <i class="flaticon-rocket"></i>
            <h2>Get Free Consultancy About Your Project</h2>

        </div>

        <div class="sw_nl_form_wrapper">

            <div class="disc_btn ltr_btn">
                <ul>
                    <li>
                        <a href="#!" class="waves-effect waves-light waves-ripple">ask a question</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</div>