<div class="sw_pricing_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="sw_left_heading_wraper sw_center_heading_wrapper pd_0">
                    <h1>Affordable Pricing Packages</h1>
                    <img src="images/heading_line.png" alt="title">
                    <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                </div>
            </div>

            <div class="pricing_box1_wrapper">
                <div class="box1_heading_wrapper box1_orange">

                    <h1><sup>$</sup>75<span> /  month</span></h1>
                    <div class="jp_pricing_label_wrapper">

                    </div>
                </div>

                <div class="price_box1_wrapper">
                    <div class="disc_btn pricing_btn">
                        <ul>
                            <li>
                                <a href="#!" class="waves-effect waves-light waves-ripple">basic</a>
                            </li>
                        </ul>

                    </div>

                    <div class="pricing_btm_txt_wrapper txt_clr_oange">
                        <div class="pricing_cont">
                            <p>Battery Capacity 11 - 15 kWh</p>
                            <ul>
                                <li> free service</li>
                                <li>ranted battery</li>
                                <li>free installation</li>
                                <li>24 hour support</li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="pricing_box1_wrapper sw_pricing_box_transition">
                <div class="box1_heading_wrapper box1_blue">

                    <h1><sup>$</sup>95<span> /  month</span></h1>
                    <div class="jp_pricing_label_wrapper jp_pricing_label_blue">

                    </div>
                </div>
                <div class="price_box1_wrapper price_box1_wrapper_center">
                    <div class="disc_btn pricing_btn">
                        <ul>
                            <li>
                                <a href="#!" class="waves-effect waves-light waves-ripple">business</a>
                            </li>
                        </ul>

                    </div>

                    <div class="pricing_btm_txt_wrapper txt_clr_blue">
                        <div class="pricing_cont">
                            <p>Battery Capacity 16 - 20 kWh</p>
                            <ul>
                                <li> free service</li>
                                <li>ranted battery</li>
                                <li>free installation</li>
                                <li>24 hour support</li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="pricing_box1_wrapper padder_btm_0">
                <div class="box1_heading_wrapper box1_green">

                    <h1><sup>$</sup>125<span> /  month</span></h1>
                    <div class="jp_pricing_label_wrapper jp_pricing_label_green">

                    </div>
                </div>

                <div class="price_box1_wrapper">
                    <div class="disc_btn pricing_btn">
                        <ul>
                            <li>
                                <a href="#!" class="waves-effect waves-light waves-ripple">ultimate</a>
                            </li>
                        </ul>

                    </div>

                    <div class="pricing_btm_txt_wrapper txt_clr_green">
                        <div class="pricing_cont">
                            <p>Battery Capacity all kWh</p>
                            <ul>
                                <li> free service</li>
                                <li>ranted battery</li>
                                <li>free installation</li>
                                <li>24 hour support</li>

                            </ul>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>