<div class="sw_contact_form_wrapper sw_contact_form_padder sw_contact_index">

    <div class="container">
        <div class="contact_left_wrapper wow  bounceIn  animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
            <img src="images/form_bg.png" alt="img" class="img-responsive">
        </div>
        <div class="contact_right_wrapper">
            <div class="cmnt_area_div_mn">
                <div class="sw_left_heading_wraper sw_dark_heading_wraper">
                    <h1>Fill Free Contact Us</h1>
                    <img src="images/hd_line_dark.png" alt="title">
                    <p>Donec quis magna sit amet risus vulputate maximus eget eget arcu. Praesent sed molestie tortor. </p>
                </div>
                <div class="row">
                    <form>
                        <div class="cont_main_section">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="contect_form1">
                                    <input type="text" name="full_name" placeholder="Name*" class="require">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="contect_form1">
                                    <input type="email" name="email" placeholder="Email*" class="require" data-valid="email" data-error="Email should be valid.">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="contect_form1">
                                    <input type="text" name="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="contect_form4">
                                    <textarea rows="5" name="message" placeholder="Message" class="require"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="response"></div>
                                <div class="cntct_2_btn_wrapper">
                                    <button type="button" class="submitForm waves-effect waves-light waves-ripple">send</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>