<div class="container">

    <div class="row">
        <div class="foter_padder">
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="wrapper_second_about">
                    <div class="wrapper_first_image">
                        <a href="index.html"><img src="{{ '' | absolute_url }}/images/{{site.data.company.contact.logo}}" class="img-responsive" alt="logo" /></a>
                    </div>
                    <div class="abotus_content">
                        <p>{{ site.data.company.about_us_1 }}</p>
                        
                        <ul>
                            <li><a href="{{site.social_links.facebook}}"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
                <div class="wrapper_second_useful">
                    <h4>useful links </h4>
                    <img src="{{ '' | absolute_url }}/images/hd_line_dark.png" alt="title" class="pd_btm_3">
                    <ul>
                        {% for nav in site.data.nav.docs %}
                        <li><a href="{{ nav.url | absolute_url}}" title="">{{ nav.title }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-12 col-sm-4">
                <div class="wrapper_second_useful wrapper_second_links">

                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i>sitemap</a>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>FAQ </a>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>awards </a>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>tstimonials</a>
                        </li>
                        <li><a href="#"><i class="fa fa-angle-right"></i>career</a> </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="wrapper_second_useful wrapper_second_useful_2">
                    <h4>contact  us</h4>
                    <img src="{{'' | absolute_url }}/images/hd_line_dark.png" alt="title" class="pd_btm_3">
                    <ul>
                        <li>
                         <h1>{{ site.data.company.contact.number }}</h1></li>
                         <li><a href="#"><i class="flaticon-new-email-outline"></i>{{ site.data.company.contact.email }}</a>
                        </li>
                         <li><a href="#"><i class="flaticon-internet"></i>{{ site.data.company.contact.website }}</a>
                        </li>
                      
                        <li><i class="flaticon-placeholder"></i>{{ site.data.company.contact.address }}
                        </li>                                   
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <div class="section3_copyright">
            <p>Copyright 2021 <a href="/"> Energymitra Technologies Private Limited</a>. all right reserved - design by <a href="/">Saurabh</a></p>
        </div>
    </div>
</div>