<div class="transparent-menu header-area hidden-menu-bar stick">

    <div class="container">

        <div class="bt_main_menu_wrapper">
            <div class="main-menu-wrapper clear-fix">

                <div class="logo float-left">
                    <a href="/"><img src="{{ '' | absolute_url }}/images/inner_logo.png" class="img-responsive" alt="logo"></a>
                </div>

            </div>
            <div class="sc_navigation hidden-sm hidden-xs">
                <nav id="primary-nav" class="dropdown nav_left_margin">
                    <ul class="dropdown menu navigation cart_dropdown_wrapper">
                        {% for nav in site.data.nav.docs %}
                        <li><a href="{{ nav.url | absolute_url}}" title="">{{ nav.title }}</a>
                            </li>
                        {% endfor %}    
                        <!-- Menu -->
                        <!--search -->
                    </ul>
                    <div class="header_right_inner_page">
                        <div class="search-wrapper">
                            <div class="et_navbar_search_wrapper hidden-xs">
                                <div class="et_search_bar" id="search_button">
                                    <a href="#"><i class="fa fa-search waves-effect waves-light" aria-hidden="true"></i></a>
                                </div>
                                <div id="search_open" class="et_search_box">
                                    <input type="text" placeholder="Search text...">
                                    <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="sw_icon_bar">
                            <ul class="tc_login_btn_wrapper">
                                <li class="dropdown tc_login_btn">
                                    <a class="dropdown-toggle hvr-float-shadow active waves-effect waves-light" data-toggle="dropdown" href="#"><i class="fa fa-ellipsis-v"></i></a>
                                    <ul class="dropdown-menu tc_menu_fixed_border">
                                        <li class="dropdown_hover"><a href="#">FAQ's</a></li>
                                        <li class="dropdown_hover"><a href="#">Track Order</a></li>
                                        <li class="dropdown_hover"><a href="#">Register</a></li>
                                        <li class="dropdown_hover"><a href="#">Login</a></li>
                                        <li class="dropdown_hover hidden-lg"><a href="#">Free Quote</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div> -->

                    </div>

                </nav>
            </div>
            <!-- /.main-menu-wrapper -->
            <!-- mobile menu area start -->
            <div class="mobile-menu-area visible-sm visible-xs">
                <div class="container header_container">
                    <div class="row">

                        <div class="col-xs-12 cc_menu_top_margin">
                            <!-- mobile menu start -->
                            <div class="mobile-menu">
                                <nav>
                                    <ul class="nav">
                                        {% for nav in site.data.nav.docs %}
                                        <li><a href="{{ nav.url | absolute_url}}" title="">{{ nav.title }}</a>
                                            </li>
                                        {% endfor %} 
                                    </ul>
                                </nav>
                            </div>
                            <!-- mobile menu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile menu area end -->

            <!-- /.main-menu-wrapper -->
        </div>
    </div>

    <div class="header_btn">
        <ul>
            <li>
                <a href="#!" class="waves-effect waves-light waves-ripple">free quote</a>
            </li>
        </ul>
    </div>
</div>