<div class="sw_partners_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="sw_left_heading_wraper">
                    <h1>Our Partners</h1>
                    <img src="{{ '' | absolute_url }}/images/heading_line.png" alt="title">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                <div class="partners_slider_wrapper">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_1.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_2.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_3.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_4.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_5.png" alt="partner_img">
                            </div>
                        </div>
                        <div class="item">
                            <div class="lr_prt_img_wrapper">
                                <img src="{{ '' | absolute_url }}/images/partner_2.png" alt="partner_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>