<div class="sw_abt_spectrum_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                    <div class="sw_left_heading_wraper">
                        <h1>We Cover the Whole Spectrum</h1>
                        <img src="{{ '' | absolute_url }}/images/heading_line.png" alt="title">
                    </div>
                </div>

                <!-- slider start -->
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 sw_spectrm_padding">
                    <div class="spectrum_slider_wrapper">
                            <div class="owl-carousel owl-theme">
                            {% for spec in site.data.spectrum%}
                                <div class="item">
                                    <div class="spectrum_slider_cntnt">
                                        <div class="spectrum_slider_shadow">
                                            <img src="{{ '' | absolute_url }}/images/{{spec.image}}" alt="title" class="img-responsive">
                                            <h2><a href="#">{{spec.title}}</a></h2>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>