<div class="sw_our_newsletter_wrapper">

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                <div class="sw_nl_heading_wrapper sw_our_news_txt">
                   <i class="flaticon-rocket"></i>
                    <h2>Subscribe Our Newsletter</h2>
                    <h6>Get the latest News & Offers..</h6>

                    <div class="prs_newsletter_field">
                        <input type="text" placeholder="Email*">
                        <button type="submit" class="waves-effect waves-light waves-ripple">Submit</button>
                    </div>
                    <p>True environmental protection lies in loving the mountains, the oceans and in cher
                        <br> all creation.</p>

                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                <div class="sw_letter_img_wrapper wow  zoomIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: zoomIn;">
                    <img src="images/abt_ltr_img.png" alt="img">

                </div>
            </div>
        </div>
    </div>

</div>