 <!-- sw choose service wrapper start-->
 {% assign comp=site.data.company.solar_energy %}
 <div class="sw_chose_service_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-sm-12 col-lg-offset-3">
                <div class="sw_left_heading_wraper sw_center_heading_wrapper">
                    <h1>Why Choose Us solar Energy</h1>
                    <img src="{{ '' | absolute_url }}/images/heading_line.png" alt="title">
                    <p>{{comp.about }} </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                <div class="chose_text_wrapper_left">
                    {% for comp in comp.catg1 %}
                    <div class="chose_icon_wrapper_list">

                        <div class="chose_icon_img_list">
                            <img src="{{ '' | relative_url }}/images/{{ comp.image }}" alt="title">
                        </div>

                        <div class="chose_icon_content_left">
                            <h4><a href="#">{{comp.name }}</a></h4>
                            <p>{{comp.about }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 hidden-sm hidden-xs wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                <div class="section2_img_wrapper">
                    <img class="img-responsive" src="{{ '' | absolute_url }}/images/cs_service.png" alt="img">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 hidden-sm hidden-xs">
                <div class="chose_text_wrapper_right">
                    {% for comp in comp.catg2 %}
                    <div class="chose_icon_wrapper_list">

                        <div class="chose_icon_img_list">
                            <img src="{{ '' | absolute_url }}/images/{{ comp.image }}" alt="title">
                        </div>

                        <div class="chose_icon_content_left">
                            <h4><a href="#">{{comp.name }}</a></h4>
                            <p>{{comp.about }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 visible-sm visible-xs">
                <div class="section2_img_wrapper wow  bounceIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: bounceIn;">
                    <img class="img-responsive" src="{{ '' | absolute_url }}/images/cs_service.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- sw choose service wrapper end-->