---
layout: other_page
---
    <!-- CC ps top product Wrapper Start -->
    <div class="cc_ps_top_product_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="video_img_section_wrapper">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="video_nav_img hidden-xs">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a class="button secondary url owl_nav" href="#zero"><img src="{{site.baseurl}}/products/{{page.image}}" class="img-responsive" alt="nav_img"></a>
                            </div>

                        </div>
                        <div class="cc_ps_top_slider_section">
                            <div class="owl-carousel owl-theme">
                                <div class="item" data-hash="zero">

                                    <img class="small img-responsive" src="{{site.baseurl}}/products/{{page.image}}" alt="small_img" />

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="video_nav_img visible-xs">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                                <a class="button secondary url owl_nav" href="#zero"><img src="{{site.baseurl}}/products/{{page.image}}" alt="nav_img"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="btc_shop_single_prod_right_section">
						  <div class="btc_shop_product_price_wrapper">
                                <ul>
                                    <li>₹{{page.price}}</li>
                                    <li><del>₹{{page.price}}</del></li>                                                              
                                </ul>
								   <a href="https://wa.me/8595093108"><i class="fa fa-share-alt"></i></a>
                            </div>
                            <h1>{{page.title}}</h1>
                            <div class="btc_shop_sin_pro_icon_wrapper eeeree">
                                
                                
                                <h5>{{page.about}}</h5>

                            </div>
                            <div class="btc_shop_prod_quanty_bar">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="sw_price_rang_txt">
                                            <p>product ID :<span> {{page.sku}} </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="cc_ps_cart_btn_wrapper">
                                <div class="cc_ps_cart_btn">
                                    <ul>
                                        <li>
                                            <a href="#!" class="waves-effect waves-light waves-ripple"> <i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                        </li>
                                        <li><a href="#!" class="waves-effect waves-light waves-ripple"><i class="fa fa-heart"></i> wishlist</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CC ps top product Wrapper End -->
	 <!--sw newsletter wrapper start-->
  <div class="shop_letter_hhfdf">
        <div class="container">
        <div class="row">
		  <div class="sw_news_letter_wrapper sw_shop_letter_bg">
            <div class="sw_nl_heading_wrapper pdf">
              <img src="{{site.baseurl}}/images/pdf.png" alt="">
                <h2>download free product description</h2>

            </div>

            <div class="sw_nl_form_wrapper">

                <div class="disc_btn ltr_btn">
                    <ul>
                        <li>
                            <a href="{{page.download}}" class="waves-effect waves-light waves-ripple">Download</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- accordion section start -->

    <div class="accordion_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 accordion_one">
                    <div class="panel-group" id="accordionFourLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftone" aria-expanded="false">
                                description about product
                              </a>
                            </h4>
                            </div>
                            <div id="collapseFiveLeftone" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    
                                    <div class="text-accordion">
                                        <p>
                                            {{page.description}}
                                        </p>
                                        <ul class="accordian_list_item">
                                            <li><i class="fa fa-long-arrow-right"></i> {{page.feature_1}}</li>
                                            <li><i class="fa fa-long-arrow-right"></i> {{page.feature_2}}</li>
                                            <li><i class="fa fa-long-arrow-right"></i> {{page.feature_3}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end of panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-default -->

                        
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion_oneLeft" href="#collapseFiveLeftfour" aria-expanded="false">
                               product tags 
                              </a>
                            </h4>
                            </div>
                            <div id="collapseFiveLeftfour" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">

                                    <div class="text-accordion">
                                        <div class="tag_cloud_wrapper">
                                            <ul>
                                                <li>
                                                    <a href="#">Business</a>
                                                </li>
                                                <li>
                                                    <a href="#">Corporate</a>
                                                </li>
                                                <li>
                                                    <a href="#">Services</a>
                                                </li>
                                                <li>
                                                    <a href="#">Customer</a>
                                                </li>
                                                <li>
                                                    <a href="#">Money</a>
                                                </li>
                                                <li class="active">
                                                    <a href="#">Portfolio</a>
                                                </li>
                                                <li>
                                                    <a href="#">Psd</a>
                                                </li>
                                                <li>
                                                    <a href="#">Joomla</a>
                                                </li>
                                                <li>
                                                    <a href="#">Skills</a>
                                                </li>
                                                <li>
                                                    <a href="#">Partners</a>
                                                </li>
                                                <li>
                                                    <a href="#">Wordpress</a>
                                                </li>
                                                <li>
                                                    <a href="#">Html</a>
                                                </li>
                                                <li>
                                                    <a href="#">Psd</a>
                                                </li>
                                                <li>
                                                    <a href="#">Joomla</a>
                                                </li>
                                                <li>
                                                    <a href="#">Skills</a>
                                                </li>

                                                <li>
                                                    <a href="#">Joomla</a>
                                                </li>
                                                <li>
                                                    <a href="#">Skills</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of panel-body -->
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <!--end of /.panel-group-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- accordion section end -->
